# Python Bytecode & Caches
**/__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
.venv/
venv/
env/
ENV/
.env

# IDE / Editor Files
.vscode/
.idea/
*.swp
*.swo

# uv
.uv/
uv.lock

# OS-specific
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~
